<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<title><%= title %></title>
		<style type="text/css">
body{margin: 0;}
		</style>
	</head>
	<body>
		<div>Index Of <%= path %></div>
		<% if(menu) { %>
		<div><a href="javascript: location.reload();">refresh</a></div>
		<% } else { %>
		<div><a href="javascript: void(0);">menu</a></div>
		<% } %>
		<table>
			<tr><th>filename</th><th>size</th><th>ctime</th></tr>
			<tr><td><a href="../">../</a></td><td>0</td><td>-</td></tr>
			<% let i = 0, j = files.length; %>
			<% for(let i = 0, j = files.length;i !== j;i++) { %>
			<% let file = files[i]; %>
			<tr><td><a href="<%= file.href %>"><%= file.fn %></a></td><td><%= file.size %></td><td><%= file.ctime %></td></tr>
			<% } %>
			<% if(i === 0) { %>
			<!-- no data -->
			<% } %>
		</table>
		<%# <!-- --> %> <%# - \s _%><%# - \n %>
		<!-- <%= info.message %> -->
	</body>
</html>

